.wrapper {
    width: 90vw;
    margin: 20px auto;
    border-radius: 25px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    background: #1A212C;
}

.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

label + .sumInput {
    margin-top: 20px !important;
}

.exchangeRate {
    text-align: center;
    color: #BFBFBF;
    margin-top: 15px;
}

.resultSum {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}