.container {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.stepper {
    margin-bottom: 50px;
}

.formWrapper {
    padding: 20px 0;
}

.select {
    margin-bottom: 20px;
}

.selectWrapper {
    display: flex;
    align-items: center;
}

.selectLabel {
    margin-right: 10px;
}

.buttonsWrapper {
    margin-top: auto;
}