.wrapper {
    width: 90vw;
    margin: 20px auto;
    border-radius: 25px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A212C;
}

.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.receiveTypesWrapper {
    display: flex;
    flex-direction: column;
}

.receiveType {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
}

.receiveType:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgb(61, 61, 63);
}

.receiveType svg {
    width: 25px;
    margin-right: 8px;
}

.usdt svg {
    width: 22px;
}

.walletInfo {
    background: #1C1B1E;
    border-radius: 20px;
    padding: 25px 0 20px;
    width: 300px;
}

.walletAddress {
    font-size: 15px;
    margin-right: 5px;
    word-break: break-all;
    width: 150px;
}

.walletAddressHint {
    text-align: center;
    margin-top: 10px;
    color: #BFBFBF;
    font-size: 15px;
}

.walletAddressWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.walletAddressWrapper svg {
    position: relative;
    bottom: 1px;
}

.qrCodeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.text {
    margin-top: 20px;
    text-align: center;
}

.actionButtonsWrapper {
    display: flex;
    width: 90vw;
    margin: 20px auto 0 auto;
}

.actionButton {
    background: #1A212C;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.actionButton svg {
    width: 22px;
    margin-right: 5px;
}

.actionButtonCopy {
    margin-right: 15px;
}