.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actionButtonsWrapper {
    display: flex;
    width: 95vw;
    margin-top: 20px;
}

.actionButton {
    background: #1A212C;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.actionButtonReceive {
    margin-right: 15px;
}

.actionButtonReceive svg {
    transform: rotate(180deg);
}

.actionButton svg {
    width: 22px;
    margin-right: 5px;
}

.dealButton {
    margin-top: 20px;
    background: #1A212C;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    width: 95vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dealButton svg {
    width: 22px;
    margin-right: 5px;
}