.wrapper {

}

.container {
    width: 90vw;
    margin: 20px auto;
    border-radius: 25px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    background: #1A212C;
    min-height: calc(100vh - 40px);
}

.stepper {
    margin-bottom: 20px;
}

.stepper :global(.MuiStepLabel-label) {
    font-size: 16px;
}

.select {
    margin-top: 20px;
}

.selectWrapper {
    display: flex;
    align-items: center;
}

.selectLabel {
    margin-right: 10px;
}

.buttonsWrapper {
    /*margin-top: 20px;*/
}

.buttonWrapper {
    height: 40px;
}

.button {
    text-transform: initial !important;
}

.sumWrapper {
    display: flex;
    flex-direction: column;
}

.sumType {
    margin-bottom: 20px !important;
}

.additionalField {
    margin-top: 20px;
    display: flex;
}

.additionalField :global(.MuiInputBase-root) {
    border-radius: 45px;
    width: 100%;
}

.additionalField > div {
    width: 100%;
}

.formWrapper {
    display: flex;
    flex-direction: column;
}

.textField {
    margin-top: 20px;
}

.textField :global(.MuiInputBase-root) {
    border-radius: 45px;
    width: 100%;
}