.wrapper {
    width: 90vw;
    margin: 20px auto 0 auto;
    background: #1A212C;
    border-radius: 25px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 25px;
    margin-bottom: 15px;
}

.transationsWrapper {
    width: 100%;
}

.transaction {
    position: relative;
    padding: 15px 5px;
    text-align: center;
}

.transaction:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgb(61, 61, 63);
}

.transactionOutcome span {
    color: red;
}

.transactionIncome span {
    color: #7BC26F;
}


