.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.priceItem {
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceItemResult {
    margin-bottom: 10px;
    font-size: 20px;
}

.priceItemLabel {
    color: #BFBFBF;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
}