@import 'normalize.css/normalize.css';

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #131315;
    color: #FFFFFE;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

label.MuiFormLabel-root {
    background: #1A212C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}